@model SwordLMS.Web.Models.CourseViewModel;


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link rel="stylesheet" href="~/css/site.css" type="text/css" />*@
<div class="row" style="margin-left: 25px">
    <div class="container-warpper col-md-8">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>



        <h1 style="margin-bottom:20px"> <strong>Create New Course!</strong></h1>

        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Course Details!
                    </button>
                </h2>

                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <form method="post" asp-action="SaveCourse" id="courseForm">
                        <div class="accordion-body">

                            <div class="two2">
                                @* @Html.LabelFor(model => model.courseModel.Name)*@
                                <label asp-for="courseModel.Name" class="control-label"></label>
                                <input asp-for="courseModel.Name" id="name" class="form-control" />
                                <span asp-validation-for="courseModel.Name" class="text-danger"></span>
                            </div>

                            <div class="two2">

                                @*@Html.LabelFor(model => model.courseModel.Description)*@
                                <label asp-for="courseModel.Description" class="control-label"></label>
                                @*  <input asp-for="courseModel.Description" id="description" class="form-control" />*@
                                <div>
                                    <textarea cols="100" id="Description" name="Description" asp-for="courseModel.Description" rows="5"></textarea>
                                </div>

                                <span asp-validation-for="courseModel.Description" class="text-danger"></span>

                                <div class="two2" id="imgpath">
                                    <label asp-for="courseModel.DisplayImagePath" class="control-label">Course Image</label>
                                    <input asp-for="courseModel.DisplayImagePath" type="file" name="postedFiles" class="form-control" />
                                </div>

                                @*<form method="post" enctype="multipart/form-data" >
                                <label asp-for="courseModel.DisplayImagePath" class="control-label">Course Image</label>
                                <input asp-for="courseModel.DisplayImagePath" type="file"  class="form-control">
                                </form>*@

                                @*<form method="post" enctype="multipart/form-data">
                                <label asp-for="courseModel.DisplayImagePath" class="control-lable">course images</label>
                                <input type="file" name="postedFiles" asp-for="courseModel.DisplayImagePath" class="form-control">
                                <span asp-validation-for="courseModel.DisplayImagePath" class="text-danger"></span>
                                </form>*@

                                @*   <label asp-for="courseModel.DisplayImagePath"  class="control-lable">course images</label>
                                <input asp-for="courseModel.DisplayImagePath" class="form-control" type="file" >
                                <span asp-validation-for="courseModel.DisplayImagePath" class="text-danger"></span>*@



                                <div class="accordion-body" hidden>
                                    @* @Html.LabelFor(model => model.courseModel.AuthorId) *@
                                    <label asp-for="courseModel.AuthorId" class="control-label"></label>
                                    <input asp-for="courseModel.AuthorId" class="form-control" value="@ViewBag.userId" />
                                    <span asp-validation-for="courseModel.AuthorId" class="text-danger"></span>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">

                                        @*  @Html.LabelFor(model => model.courseModel.DurationInMins) *@
                                        <label asp-for="courseModel.DurationInMins" class="control-label"></label>
                                        <input asp-for="courseModel.DurationInMins" id="dMins" class="form-control" />
                                        <span asp-validation-for="courseModel.DurationInMins" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <label asp-for="courseModel.DateOfPublish" class="control-label"></label>
                                        <input type="text" class="form-control" id="datepicker" />
                                    </div>

                                    <div class="col-md-4">
                                        @*  @Html.LabelFor(model => model.courseModel.Price)*@
                                        <label asp-for="courseModel.Price" class="control-label"></label>
                                        <input asp-for="courseModel.Price" id="price" class="form-control" />
                                        <span asp-validation-for="courseModel.Price" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="accordion-body">
                                    <input type="submit" value="Save" id="btnSaveCourse" class="btn btn-dark" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>




        <form asp-action="SaveTopics">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Topics
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">

                        @*   <label asp-for="courseTopicModel.CourseId" class="control-label"></label>
                        <input asp-for="courseTopicModel.CourseId" class="form-control" />
                        <span asp-validation-for="courseTopicModel.CourseId" class="text-danger"></span>*@
                        @*
                        <label asp-for="courseTopicModel.Name" class="control-label">Course Topics</label>
                        <input asp-for="courseTopicModel.Name" class="form-control" />
                        <span asp-validation-for="courseTopicModel.Name" class="text-danger"></span>*@



                        <div id="myDIV">
                            <label asp-for="courseTopicModel.Name" class="control-label">Course Topics</label>
                            <input asp-for="courseTopicModel.Name" type="text" id="myInput" class="from-control" placeholder="Enter the topics">
                            <span onclick="newElement()" class="addBtn">Add</span>
                        </div>

                        <ul id="myUL">
                            @*<li></li>
                            <li class="checked"></li>*@
                        </ul>

                        <div class="form-group">
                            <label asp-for="courseTopicModel.DurationInMins" class="control-lable">Duration in Mintues</label>
                            <input asp-for="courseTopicModel.DurationInMins" class="from-control" />
                            <span asp-validation-for="courseTopicModel.DurationInMins" class="text-danger"></span>

                        </div>




                        <div class="accordion-body">
                            <input type="submit" value="Save" class="btn btn-dark" />
                        </div>

                    </div>
                </div>
        </form>
    </div>
</div>


<div class="container-wrap2 col-md-4">

    <div class=".col-md-4">
        <form asp-action="SaveSkills">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="five5">
                <h4>Skills</h4>
            </div>

            <div hidden>
                <label asp-for="courseSkillModel.CourseId" class="control-label"></label>
                <input asp-for="courseSkillModel.CourseId" class=" form-control" />
                <span asp-validation-for="courseSkillModel.CourseId" class="text-danger"></span>
            </div>

            @*<label asp-for="courseSkillModel.SkillsId" class="control-label"></label>
            <input asp-for="courseSkillModel.SkillsId" class=" form-control" />
            <span asp-validation-for="courseSkillModel.SkillsId" class="text-danger"></span>*@


            @* <label asp-for="courseSkillModel.SkillsId" class="control-label">Select Skills</label>
            <select asp-for="courseSkillModel.SkillsId" class="form-control"  multiple>
            <option value="">Select Skills</option>
            </select>*@

            @*<lable asp-for="courseSkillModel.SkillsId" class="control-label">Select Skills</lable>
            <select asp-for="courseSkillModel.SkillsId" div="skillsId" class="form-control" class="select" multiple data-mdb-placeholder="Example placeholder" multiple asp-items="ViewBag.skills">
                <option value="">Select</option>
            </select>*@

            <lable for="courseSkillModel.SkillsId" class="control-label" >Select Skills</lable>
            <div class="multiple-checkboxes">
               <select for="courseSkillModel.SkillsId" class="form-control" asp-items="ViewBag.skills" multiple data-mdb-placeholder="Select" multiple></select>
            </div>



            <div class="accordion-body">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>
        </form>
    </div>

</div>




<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

<script src="~/scripts/select2.min.js"></script>

@*<script>
    $(document).ready(function () {
        $(".mySelect").select2();
        placeholder: "Select",
            theme: "classic",
                ajax :
        {
            url: "/course/GetCourseSkills",
     }
    });
</script>*@




@*<script>
    //image preview before uploading
    $(document).ready(function () {
        $("#imgpath").on('change', function () {
            //Get count of selected files
            var countFiles = $(this)[0].files.length;
            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
            var image_holder = $("#image-holder");
            image_holder.empty();
            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof (FileReader) != "undefined") {
                    //loop for each file selected for uploaded.
                    for (var i = 0; i < countFiles; i++) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("<img />", {
                                "src": e.target.result,
                                "class": "thumb-image"
                            }).appendTo(image_holder);
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[i]);
                    }
                } else {
                    alert("This browser does not support FileReader.");
                }
            } else {
                alert("Pls select only images");
            }
        });
    });
    </script>*@

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#imgpath").change(function () {
            if (this.files && this.files[0]) {
                $('#imgpreview').show();
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgpreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#multiple-checkboxes').multiselect();
    });
</script>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSaveCourse').click(function (event) {
            event.preventDefault();
            var name = $('#name').val();
            var description = $('#Description').val();
            var imgpath = $('#imgpath').val();
            var dMins = $('#dMins').val();
            var datepicker = $('#datepicker').val();
            var price = $('#price').val();
            var data = { name: name, description: description, dMins: dMins, datepicker: datepicker, price: price };
            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "POST",
                url: "/course/SaveCourseDetailsTwo",
                data: jsonData,
                dataType: "json",
                contentType: "application/json",
                success: function (result) {

                }
            });
        });
    });
</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@*<script>
    $(document).ready(function () {
        $("#btnSaveCourse").click(function (e) {
            //Serialize the form datas.
            var formData = $("#courseForm").serialize();


            $.ajax({
                type: "POST",
                url: "/course/SaveCourseDetails",
                data: formData,
                success: function (result) {
                    console.log(result);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error: ' + errorThrown);
                }
                });
        });
    });
</script>
*@

@*<script>
    $(document).ready(function () {

        $('#').change(function () {
            $.ajax({
                type: "post",
                url: "/Course/GetCourseSkills",
                data: { Id: $('#ddlCategoryId').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var Category = "<select id=''>";
                    Category = Category + '<option value="">--select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        Category = Category + '<option value=' + data[i].id + '>' + data[i].name + '</option>';
                    }
                    Category = Category + '</select>';
                    $('#divSubCategory').html(Category)
                }
            });
        });
    });
</script>*@

<script>
    //Create a "close" button and append it to each list item
    var myNodelist = document.getElementsByTagName("LI");
    var i;
    for (i = 0; i < myNodelist.length; i++) {
        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        myNodelist[i].appendChild(span);
    }

    // To delete the Listed item.
    //var close = document.getElementsByClassName("close");
    //var i;
    //for (i = 0; i < close.length; i++) {
    //    close[i].onclick = function () {
    //        var div = this.parentElement;
    //        div.style.display = "none";
    //    }
    //}

    // Add a "checked" symbol when clicking on a list item
    var list = document.querySelector('ul');
    list.addEventListener('click', function (ev) {
        if (ev.target.tagName === 'LI') {
            ev.target.classList.toggle('checked');
        }
    }, false);

    // Create a new list item when clicking on the "Add" button
    function newElement() {
        var li = document.createElement("li");
        var inputValue = document.getElementById("myInput").value;
        var t = document.createTextNode(inputValue);
        li.appendChild(t);
        if (inputValue === '') {
            alert("You must write something!");
        } else {
            document.getElementById("myUL").appendChild(li);
        }
        document.getElementById("myInput").value = "";

        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        li.appendChild(span);

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.display = "none";
            }
        }
    }
</script>


