@model SwordLMS.Web.Models.CourseViewModel;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="~/css/site.css" type="text/css" />*@

<div class="" @*style="display:none;"*@>

    <input asp-for="courseModel.AuthorId" type="text" id="authorId" class="form-control" value="@ViewBag.userId" />
    <input type="text" id="courseId" class="form-control" value="" />
    <input asp-for="courseTopicModel.Id" class="hidden" type="hidden" id="topicId" value="@ViewBag.CourseTopic" />

</div>

<div class="row" style="margin-left: 25px">
    <div class="container-warpper col-md-8">

        <h1 style="margin-bottom:20px"> <strong>Create New Course!</strong></h1>

        <div class="accordion" id="accordionPanelsStayOpenExample" style="max-width: 784px;">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Course Details
                    </button>
                </h2>

                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <form method="post" id="courseForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="accordion-body">

                            <div class="two2">
                                @* @Html.LabelFor(model => model.courseModel.Name)*@
                                <label asp-for="courseModel.Name" class="control-label"></label>
                                <input asp-for="courseModel.Name" id="name" class="form-control" />
                                <span asp-validation-for="courseModel.Name" class="text-danger"></span>
                            </div>

                            <div class="two2">

                                @*@Html.LabelFor(model => model.courseModel.Description)*@
                                <label asp-for="courseModel.Description" class="control-label"></label>
                                @*  <input asp-for="courseModel.Description" id="description" class="form-control" />*@
                                <div>
                                    <textarea cols="100" id="Description" name="Description" asp-for="courseModel.Description" rows="5"></textarea>
                                </div>

                                <span asp-validation-for="courseModel.Description" class="text-danger"></span>

                                <div class="two2" id="imgpath">
                                    <label asp-for="courseModel.DisplayImagePath" class="control-label">Course Image</label>
                                    <input asp-for="courseModel.DisplayImagePath" type="file" name="coursephoto" id="courseImage" class="form-control" />
                                </div>

                                @*  <div class="two2">
                                <img src="" id="imgpreview" />
                                </div>*@

                                <div class="xAx">
                                    <img id="imgPreview" src="" alt="" />
                                </div>

                                @*<form method="post" enctype="multipart/form-data" >
                                <label asp-for="courseModel.DisplayImagePath" class="control-label">Course Image</label>
                                <input asp-for="courseModel.DisplayImagePath" type="file"  class="form-control">
                                </form>*@

                                @*<form method="post" enctype="multipart/form-data">
                                <label asp-for="courseModel.DisplayImagePath" class="control-lable">course images</label>
                                <input type="file" name="postedFiles" asp-for="courseModel.DisplayImagePath" class="form-control">
                                <span asp-validation-for="courseModel.DisplayImagePath" class="text-danger"></span>
                                </form>*@

                                @*   <label asp-for="courseModel.DisplayImagePath"  class="control-lable">course images</label>
                                <input asp-for="courseModel.DisplayImagePath" class="form-control" type="file" >
                                <span asp-validation-for="courseModel.DisplayImagePath" class="text-danger"></span>*@

                                <div class="row">
                                    <div class="col-md-4">

                                        @*  @Html.LabelFor(model => model.courseModel.DurationInMins) *@
                                        <label asp-for="courseModel.DurationInMins" class="control-label"></label>
                                        <input asp-for="courseModel.DurationInMins" id="dMins" class="form-control" />
                                        <span asp-validation-for="courseModel.DurationInMins" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <label asp-for="courseModel.DateOfPublish" class="control-label"></label>
                                        <input type="text" class="form-control" id="datepicker" />
                                    </div>

                                    <div class="col-md-4">
                                        @*  @Html.LabelFor(model => model.courseModel.Price)*@
                                        <label asp-for="courseModel.Price" class="control-label"></label>
                                        <input asp-for="courseModel.Price" id="price" class="form-control" />
                                        <span asp-validation-for="courseModel.Price" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="accordion-body">
                                    <input type="submit" value="Save" id="btnSaveCourse" class="btn btn-dark" data-toggle="modal" @* onclick="myFunction"*@ data-target="#myModalCourse" />
                                </div>
                                @*  <div class="modal" id="myModalCourse">
                                <div class="modal-dialog">
                                <div class="modal-content">

                                <!-- Modal body -->
                                <div class="modal-body" id="myModalCourse">
                                Course Saved Sucessfully!
                                </div>

                                </div>
                                </div>
                                </div>*@
                            </div>
                        </div>
                    </form>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Topics
                        </button>
                    </h2>

                    @*   <form ="SaveTopics">*@
                    <form method="post" id="courseTopicForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <v id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">

                                @*  <label asp-for="courseTopicModel.CourseId" class="control-label"></label>
                                <input asp-for="courseTopicModel.CourseId" class="form-control" />
                                <span asp-validation-for="courseTopicModel.CourseId" class="text-danger"></span>
                                *@
                                @*
                                <label asp-for="courseTopicModel.Name" class="control-label">Course Topics</label>
                                <input asp-for="courseTopicModel.Name" class="form-control" />
                                <span asp-validation-for="courseTopicModel.Name" class="text-danger"></span>*@


                                @*   <div class="form-group" id="myDIV">
                                <label asp-for="courseTopicModel.Name" class="control-label">Course Topics</label>
                                <input asp-for="courseTopicModel.Name" type="text" id="myInput" class="from-control" placeholder="Enter the topics">
                                <span onclick="newElement()" class="addBtn">Add</span>
                                </div>*@

                                @* <ul id="myUL">
                                @*<li></li>
                                <li class="checked"></li>
                                </ul>*@


                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="courseTopicModel.Name">Name</label>
                                        <input asp-for="courseTopicModel.Name" type="text" id="Topic" name="names" />
                                        <span asp-validation-for="courseTopicModel.Name" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <label asp-for="courseTopicModel.DurationInMins">Duration</label>
                                        <input asp-for="courseTopicModel.DurationInMins" type="text" id="dMintues" name="dmins" />
                                        <span asp-validation-for="courseTopicModel.DurationInMins" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="accordion-body">
                                            <input type="submit" value="Add" id="btnSaveTopics" class="btn btn-dark" />
                                        </div>
                                    </div>

                                    <table class="table table-bordered data-table" id="myTable">
                                        <thead>
                                        <th>Name</th>
                                        <th>Duration</th>

                                        <tbody>
                                        </tbody>
                                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
   </div>


<div class="container-wrap2 col-md-4">

    <div class=".col-md-6">
        <form asp-action="SaveSkills">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="five5">
                <h4>Skills</h4>
            </div>

            <div hidden>
                <label asp-for="courseSkillModel.CourseId" id="courseID" class="control-label"></label>
                <input asp-for="courseSkillModel.CourseId" class=" form-control" />
                <span asp-validation-for="courseSkillModel.CourseId" class="text-danger"></span>
            </div>

            @*<label asp-for="courseSkillModel.SkillsId" class="control-label"></label>
            <input asp-for="courseSkillModel.SkillsId" class=" form-control" />
            <span asp-validation-for="courseSkillModel.SkillsId" class="text-danger"></span>*@


            @* <label asp-for="courseSkillModel.SkillsId" class="control-label">Select Skills</label>
            <select asp-for="courseSkillModel.SkillsId" class="form-control"  multiple>
            <option value="">Select Skills</option>
            </select>*@

            @*            <select asp-for="courseSkillModel.SkillsId" id="mySkills" name="mySkills" multiple asp-items="ViewBag.skills"></select> *@

            <select asp-for="courseSkillModel.SkillsId" name="SkillsSelect[]" multiple id="SkillsSelect" asp-items="ViewBag.skills"></select>

            <div class="accordion-body">
                <input type="submit" value="Save" id="btnSaveSkills" class="btn btn-dark" data-toggle="modal" data-target="#myModalSkills" />
            </div>



            @* modal for pop-up message.*@

            <div class="modal" id="myModalSkills">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal body -->
                        <div class="modal-body">
                            Skills Saved Sucessfully!
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample" style="max-width: 784px ; margin-left : 37px;">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
                Content
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">

                @* <select name="Topicddl" id="ddlTopic" multiple>
                <option value=""></option>
                </select>*@

                <div id="divtopics">  <select id="ddltopics" class="from-control"></select></div>

                <div class="flex-column mb-3 text-center" id="divContent">
                    <div class="row">
                        <div class="col-md-6">



                            @*<label asp-for="courseContentModel.Name" class="control-label"></label>
                            <input asp-for="courseContentModel.Name" class="form-control" />
                            <span asp-validation-for="courseContentModel.Name" class="text-danger"></span>*@
                            <form method="post" id="FormCourseContent">
                                @*<form asp-action="SaveContent">*@
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <label asp-for="courseContentModel.Name" class="control-label"></label>
                                <input asp-for="courseContentModel.Name" class="form-control" id="contentName" />


                                @*<div class="row">
                                <div class="col-md-4">
                                <label asp-for="courseContentModel.TopicId" class="control-label"></label>
                                <input asp-for="courseContentModel.TopicId" class="form-control" />
                                <span asp-validation-for="courseContentModel.TopicId" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                <label asp-for="courseContentModel.ContentTypeId" class="control-label"></label>
                                <input asp-for="courseContentModel.ContentTypeId" class="form-control" />
                                <span asp-validation-for="courseContentModel.ContentTypeId" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                <label asp-for="courseContentModel.DurationInMins" class="control-label">Duration in Mintues</label>
                                <input asp-for="courseContentModel.DurationInMins" class="form-control" />
                                <span asp-validation-for="courseContentModel.DurationInMins" class="text-danger"></span>
                                </div>
                                <div class="three3">
                                <label asp-for="courseContentModel.ContentPath" class="control-label"></label>
                                <input asp-for="courseContentModel.ContentPath" type="file" name="postedFiles" class="form-control" />
                                </div>*@




                                <input asp-for="courseContentModel.TopicId" type="hidden" class="form-control" id="topicId" />

                              @*  <div class="row">
                                    <div class="col-md-6">
                                        <label asp-for="courseContentModel.ContentTypeId" class="control-label">Content Type</label>
                                        <input class="form-control" id="contentTypeId" asp-items="@ViewBag.contentType" />
                                        <span asp-validation-for="courseContentModel.ContentTypeId" class="text-danger"></span>
                                    </div>*@

                                     <div class="row">
                                    <div class="col-md-6">
                                    <label for="courseContentModel.ContentTypeId" class="control-label">Content Type</label>
                                        <select asp-for="courseContentModel.ContentTypeId" id="contentTypeId" class="from-control" asp-items="ViewBag.contentType"></select>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <label asp-for="courseContentModel.DurationInMins" class="control-label">Duration</label>
                                        <input asp-for="courseContentModel.DurationInMins" class="form-control" id="dmintues" />
                                        <span asp-validation-for="courseContentModel.DurationInMins" class="text-danger"></span>
                                    </div>
                                </div>

                              @*  <div class="two2" id="imgpath">
                                    <label asp-for="courseModel.DisplayImagePath" class="control-label">Course Image</label>
                                    <input asp-for="courseModel.DisplayImagePath" type="file" name="coursephoto" id="courseImage" class="form-control" />
                                </div>*@

                                <div class="three3" id="contentPath">
                                    <label asp-for="courseContentModel.ContentPath" class="control-label">Content Path</label>
                                    <input asp-for="courseContentModel.ContentPath" type="file" name="coursecontents" id="coursecontentpath" class="form-control" />
                                </div>

                                <div class="accordion-body">
                                    <input type="submit" value="Save" id="btnSaveContent" class="btn btn-dark" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
@*<link rel="stylesheet" href="/resources/demos/style.css">*@
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>


@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@

<script>
    $(document).ready(() => {
        $("#courseImage").change(function () {
            const file = this.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function (event) {
                    $("#imgPreview")
                        .attr("src", event.target.result);
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>


@*SaveSkills*@
<script>
    $(document).ready(function () {
        $('#btnSaveSkills').click(function (event) {
            event.preventDefault();
            jsonObj = [];
            var courseid = $('#courseId').val();
            //var skillsid = $('#SkillsSelect').val();
            var selectedValues = $('#SkillsSelect').val();
            var data = { CourseId: courseid, SkillsId: selectedValues };
            //var arr = Object.entries(selectedValues);
            //   arr.each(function () {
            //   item = {}
            //   item["CourseId"] = courseid;
            //       item["SkillsId"] = $(this).val();
            //       jsonObj.push(item);
            //});

            console.log(data);

            var jsonData = JSON.stringify(data);
            $.ajax({
                type: "POST",
                url: "/course/SaveSkills?data=" + jsonData,
                // data: "data=" + jsonData,
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    $('#btnSaveSkills').val("Update");
                    alert('Skills Saved Successfully');
                }
            });

        });
    });
</script>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSaveCourse').click(function (event) {
            event.preventDefault();
            var name = $('#name').val();
            var description = $('#Description').val();
            var imgpath = $('#courseImage').val();
            var dMins = $('#dMins').val();
            var datepicker = new Date($('#datepicker').val());
            var price = $('#price').val();
            var authorid = $('#authorId').val();
            var data = { Name: name, Description: description, DurationInMins: dMins, DateOfPublish: datepicker, Price: price, AuthorId: authorid };
            var jsonData = JSON.stringify(data);
            //////////
            var file = $('#courseImage').prop('files')[0]; // get the selected file
            console.log(data);
            var formData = new FormData(); // create a new FormData object
            formData.append('file', file); // add the file to the FormData object
            formData.append('data', jsonData); // add the JSON data to the FormData object
            //////////
            $.ajax({
                type: "POST",
                url: "/course/SaveCourse",
                data: formData,
                dataType: "json",
                // contentType: "application/json",
                //contentType: "multipart/form-data",
                contentType: false,
                processData: false,
                success: function (result) {
                    var courseId = result;
                    $('#courseId').val(courseId);
                    $('#btnSaveCourse').val("Update");
                    //$('#courseForm')[0].reset();
                    alert('Course Saved Successfully');
                }

            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSaveContent').click(function (event) {
            event.preventDefault();
            var name = $('#contentName').val();
            var ctypeId = $('#contentTypeId').val();
            var duration = $('#dmintues').val();
            var contentPath = $('#coursecontentpath').val();
            var topicid = $('#topicId').val();
            var data = { Name: name, TopicId: topicid, ContentTypeId: ctypeId, DurationInMins: duration, ContentPath: contentPath }
            var jsonData = JSON.stringify(data);

            var file = $('#coursecontentpath').prop('files')[0];

            var formData = new FormData(); // create a new FormData object
            formData.append('file', file); // add the file to the FormData object
            formData.append('data', jsonData); // add the JSON data to the FormData object

            $.ajax({
                type: "POST",
                url: "/course/SaveCourseContent",
                data : formData,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (result) {
                    $('#btnSaveContent').val("Update");
                    alert('Course Content Saved Successfully');
                }
            });

        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSaveTopics').click(function (event) {
            event.preventDefault();
            var courseid = $('#courseId').val();
            //var courseid = $('#courseId').val();
            var topicname = $('#Topic').val();
            var durationInMintues = $('#dMintues').val();
            var data1 = { CourseId: courseid, Name: topicname, DurationInMins: durationInMintues };
            var jsonData = JSON.stringify(data1);

            $.ajax({
                type: "POST",
                url: "/course/SaveTopics?data1=" + jsonData,
                // data : jsonData,
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    var topicId = result.id;
                    $('#topicId').val(topicId);
                    $('#btnSaveTopics').val("Add");
                    alert('Topic Saved Successfully');
                    var courseid = $('#courseId').val();
                    var topicname = $("#Topic").val();
                    var Duration = $("#dMintues").val();
                    var markup = "<tr><td>" + topicname + "</td><td>" + Duration + "</td><td><button btnEdit>Edit</button></td><td><button btnDelete>Delete</button></td</tr>";
                    $("#myTable").append(markup);

                    //var cardTopic = "<header>" + topicname + "</header>";
                    //$("#myCard").append(card);

                    $("input[name='names']").val('');
                    $("input[name='dmins']").val('');

                    $('#ddltopics').append($('<option>', {
                        placeholder: 'Select Topics',
                        value: topicId,
                        text: topicname,
                    }));
                    //var cardName = topicId + 'cardBody';
                    //var card = "<div class='card mb-4 box-shadow'><div class='card-header' id ='myCard' ><h4 class='my-0 font - weight - normal'> " + topicname + "</h4></div><div class='card-body'id="+cardName+"></div></div>";
                    //$("#divContent").append(card);
                    //$.ajax({
                    //    url: "/Course/GetContentComponent",
                    //    type: "GET",
                    //    success: function (result) {
                    //        $("#" +cardName).html(result);
                    //    }
                    //});



                    //$(".data-table tbody").append("<tr data-name='" + topicname + "' data-duration='" + Duration + "'><td>" + topicname + "</td><td>" + Duration + "</td><td><button class='btn-edit'>Edit</button><button class='btn-delete'>Delete</button></td></tr>");



                    //$("body").on("click", ".btn-delete", function () {
                    //    $(this).parents("tr").remove();
                    //});
                    //$("body").on("click", ".btn-edit", function () {
                    //    event.preventDefault();
                    //    var topicname = $(this).parents("tr").attr('data-name');
                    //    var Duration = $(this).parents("tr").attr('data-duration');

                    //    $(this).parents("tr").find("td:eq(0)").html('<input name="edit_names" value="' + names + '">');
                    //    $(this).parents("tr").find("td:eq(1)").html('<input name="edit_dmins" value="' + dmins + '">');

                    //    $(this).parents("tr").find("td:eq(2)").prepend("<button class='btn-update'>Update</button><button class='btn btn-warning btn-xs btn-cancel'>Cancel</button>")
                    //    $(this).hide();
                    //});


                    //$("body").on("click", ".btnDelete", function () {
                    //    event.preventDefault();
                    //    $(this).parents("tr").remove();
                    //});


                    //$("#body").on("click", ".btnEdit", function () {
                    //    event.preventDefault();
                    //    var topicname = $(this).parents("tr").attr('data-names');
                    //    var Duration = $(this).parents("tr").attr('data-dmins');

                    //    $(this).parents("tr").find("td:eq(0)").html('<input name="edit_names" value="' + topicname + '">');
                    //    $(this).parents("tr").find("td:eq(1)").html('<input name="edit_dmins" value="' + Duration + '">');

                    //    $(this).parents("tr").find("td:eq(2)").prepend("<button class='btn-update'>Update</button><button class='btn-cancel'>Cancel</button>")
                    //    $(this).hide();

                    //});
                }
            });
        });
    });
</script>




@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">*@

<!-- JS & CSS library of MultiSelect plugin -->

<script src="https://phpcoder.tech/multiselect/js/jquery.multiselect.js"></script>
<link rel="stylesheet" href="https://phpcoder.tech/multiselect/css/jquery.multiselect.css">


<script>
    jQuery('#SkillsSelect').multiselect({
        columns: 1,
        placeholder: 'Select Skills',
        search: true
    });
</script>

